body{
   
    overflow-x: hidden;
    background-image: url(./10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    

}
/* page 1 */
h1{
    color:yellow;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px 4px red;
}
h1 span{
    font-weight: 100;
    

}
h2{
    color: white;
    text-shadow: 1px 1px 1px black;
}
header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap:500px;
   
}
.initial{
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    position: relative;
    left:100px;
    text-shadow: 4px 4px 4px yellow;
}

.btn{
   background-color: transparent;
    font:white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.plus{
    
    display:inline-block;
    color: white;
    height:30px;
    width:30px;
    background-color: blue;
    border-radius: 50%;
    font-size: 28px;
    
}
p{
    font-family: 'Open Sans', sans-serif; 
    color: white;
    display:inline-block;
    position: relative;
    left: 5px;
    margin-top:-5px;
    font-size:26px;

}
.addtask{
    
    width:auto;
    height: 40px;
    background-color: transparent;
    font:white;
    border-radius: 50;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    float: right;
    
}
.task2{
   margin-top: -40px;

}

span{
    font-size: 32px;
}

 .parent{
    filter:blur(10px);
} 
/* page 2 */

/* Adding first popup */


.addpopup{
    height:200px;
   top: 200px;
    width:350px;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    background-image: url(./flash.jpg);
    background-size: cover;
    z-index:10;
    left:30%; 
   
    display:none;
    border-color: orange;
}
#input{
    width:90%;
    height:20px;
   
}
.btn1{
    border-radius: 20px;
    height:40px;
    width:100px;
    font-size: 20px;
    background-color: rgb(254, 170, 13);
    color:white;
}
.btndiv{
    margin-top: 20px;
    display: flex;
    gap:30px;
    justify-content: center;
}
/* first parent div */
.parent2{
   
   margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    gap:60px;
  
}
.btnposition{
    position:relative;
    left:40%;
    margin: 5px;
  
}
.div1{
    width:auto;
    border:2px solid yellow;
    height:auto;
}

.head{
    word-wrap: break-word;
    text-align:center;
    color: black;

}
.delete{
    background-image: url(./delete.jpeg);
    background-size: cover;
    width:30px;
    height:30px;
    border:none;
    outline: none;
    border-radius: 50%;
    margin-top: 19vh;
    margin-bottom: 2vh;

   
 }
 .add{
    background-image: url(./add.jpeg);
    background-size: cover;
    width:30px;
    height:30px;
    border:none;
    outline: none;
    border-radius: 50%;
    margin-top:19vh;
    margin-bottom: 2vh;
 }

.inline{
    display:inline-block;
    word-wrap: break-word;
}
.hide{
    display: none;
    
}

.show{
    display:block;
}
#hide{
    display: none;
    
}

.newtask{
    background-color: white;
    color: black;
    background-size: cover;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-position: center;
    min-height:280px;
    width:220px;
    border-radius: 10px;
}
.newtask:hover{
    transform: scale(1.1);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* Second popup box */


.addpopup2{
   position: fixed;
   height:140px;
   width:260px;
   left:40vw;
   top:140px;
   background-image: url(./face.jpg);
   background-size:cover ;
   padding: 15px;
   border-radius: 15px;
   display: none;
   text-align: center;
   border-color: orange; 
}
.inline{
   
    display: flex;
    font-size: 16px;
    gap:10px;
    justify-content: center;
    align-items: baseline;
 }
 .mark{
    height: 20px;
    
 }
 .space{
    line-height:2px;
    overflow-y: scroll;
    overflow-x: hidden;
    height:150px;
 }

.btn2{
    border-radius: 20px;
    height:40px;
    width:100px;
    font-size: 20px;
    background-color: rgb(254, 170, 13);
    color:white;
    margin: 10px;
}
.btndiv2{
    margin-top: 20px;
    display: flex;
    gap:30px;
    justify-content: center;
}
#input2{
    width:90%;
    height:20px;
   
}


/* second parents */
/* second parent div */

#parentCard2{
    margin-top: 60px;
     position: relative;
     display:none;
     justify-content: center;
     /* border: 2px solid green; */
}


.header2{
    display: flex;
    height: 60px;
    display: none;
    margin-top: 40px;
   justify-content: space-evenly;
   gap:50px;
   /* border: 2px solid green; */

  
 
}
#blank{
    margin-top: -30px;
   text-align: center;
   font-size: 48px;
   color:yellow;
   display: inline-block;
   margin-left: 45vw;
  
}
img{
    height:50px;
    width:50px;
    border-radius: 50%;
}
#back{
    margin-top: 45px;
   background-size: cover;
   height:30px;
   color: aqua;
   border-radius: 50%;
   font-size: 35px;
   width:30px;
   margin-left: 20px;
}



/* mobile View......... */

@media screen and (min-width:280px) and (max-width:600px){
   body{
    overflow-x: hidden;
    background-repeat: repeat;
   }
   
    header{
        gap:20px;
    }
    .initial{
        
        left:0px;
    }
    .addpopup{
        position: fixed;
        height:160px;
        width:210px;
        left:20vw;
        top:140px;
         
        background-color: skyblue;
        border-radius: 15px;
    }
    #input{
        width:180px;
    }
    div h2{
        font-size: 19px;
    }
    .btndiv{
      gap:5px;
    }

    .addpopup2{
        position: fixed;
        height:160px;
        width:210px;
        left:20vw;
        top:140px;
        background-color: skyblue;
        border-radius: 15px;
        display: none;
        text-align: center;
        border-color: orange; 
     }

     .btn2{
        border-radius: 20px;
        height:40px;
        width:70px;
        font-size: 20px;
        background-color: rgb(254, 170, 13);
        color:white;
        margin: 10px;
    }

    .btn1{
        height:40px;
        width:60px;
    }
    #parentCard2{

         align-items: center;
    }
    .parent2{
        flex-direction: row;
        margin-left: 20vw;
        
      
    }
.newtask{
    width:84vw;
    margin-left: -12vw;
}

}





/* Tab view............. */

@media screen and (min-width:620px) and (max-width:900px){

    body{
        overflow-x: hidden;
        background-repeat: repeat;
        background-position: centre;
        background-size:cover ;
        position: fixed;
       }
       
    header{
        gap:200px;
        width:99vw;

    }
    .initial{
        
        left:0px;
    }
    .addpopup{
        position: fixed;
        height:190px;
        width:320px;
        left:30vw;
        top:190px;
         background-color: skyblue;
        border-radius: 15px;
    }
    #input{
        width:290px;
    }
    div h2{
        font-size: 19px;
    }
    .btndiv{
       gap:5px;
    }

    .addpopup2{
        position: fixed;
        height:160px;
        width:210px;
        left:40vw;
        top:170px;
        background-color: skyblue;
        border-radius: 15px;
        display: none;
        text-align: center;
        border-color: orange; 
     }
     .btn1{
        width:120px;
        margin: 10px;
     }

     .btn2{
        border-radius: 20px;
        height:40px;
        width:70px;
        font-size: 20px;
        background-color: rgb(254, 170, 13);
        color:white;
        margin: 10px;
    }

    
.header2{
    display: flex;
    height: 60px;
    width:90vw;
    display: none;
    margin-top: 40px;
   justify-content: space-between;
   gap:10px;
}
.addtask{
    
    width:auto;
    font:white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
}
#parentCard2{
  width:95vw;
}

.btn1{
    height:40px;
    width:90px;
}
 

.parent2{
    margin-left: 0vw;
   column-gap:80px;
    
}.newtask{
    width:40vw;
}
}